@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Core.PropertyEditors.ValueConverters;
@{
    var lastestNews = Umbraco.Content(Guid.Parse("99159b36-a707-4ff3-8ee8-6c07db51b8d6"))
    .ChildrenOfType("newsArticle")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate)
    .Take(3);
}
<h2>Lastest News</h2>
<div class="container">

    <div class="row">
        <div class="col">
            <div class="card-deck">
                @foreach (var item in lastestNews)
                {
                    var imgCropper = item.Value<ImageCropperValue>("articleImage");
                    var thumbUrl = imgCropper.Src + imgCropper.GetCropUrl("Thumb");

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@thumbUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Value("leadIn")</p>

                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <div><a href="@item.Url">Read More</a></div>
                            <div class="social-icons text-muted">
                                <a class="ml-2 mr-2" href="https://twitter.com/intent/tweet?text=@item.Value("leadIn")&amp;url=@item.Url(null, UrlMode.Absolute)">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="ml-2 mr-2" href="https://www.facebook.com/sharer.php?u=@item.Url(null, UrlMode.Absolute)">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a class="ml-2 mr-2" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=@item.Url(null, UrlMode.Absolute)">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>


                }
            </div>
        </div>

    </div>
</div>