@inherits Umbraco.Web.Mvc.UmbracoViewPage
<a class="twitter-timeline" href="https://twitter.com/lejos89?ref_src=twsrc%5Etfw">Tweets by lejos89</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>